<!-- Start Category Section -->



<section id="list-product">
  <div class="container">


<div class="row mt-20 mb-50 section-title text-center">
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2 class="text-uppercase mt-0 line-height-1">Category Products</h2>
    <div class="title-icon">
      <img class="mb-10" src="assets/images/title-icon.png" alt="">
    </div>
    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
  </div>
</div>
</div>


    <div class="row">

      <div class="col-md-3">


<div class="sidebar">
<div class="widget-sidebar user_widget_search">
<form id="user_wiget_search_form" class="user_wiget_search_form" method="GET">
  <div class="form-group">
<input type="email" class="form-control" id="user_name" placeholder="Product Name">
  </div>
  <div class="form-group">
<label for="user_gender">Brand</label>
<select class="form-control custom-select" id="user_gender">
  <option>Nivea</option>
  <option>ACM</option>
  <option>AGU</option>
</select>
</div>
  <div class="form-group">
    <label for="user_age">Price</label>
    <div id="user_age">
      <div id="user_age_handler_min" class="ui-slider-handle"></div>
      <div id="user_age_handler_max" class="ui-slider-handle"></div>
    </div>
  <input type="hidden" id="user_age_min" name="user_age_min"/>
  <input type="hidden" id="user_age_max" name="user_age_max"/>
  </div>
    <div class="form-group">
<label for="user_sort">Sort</label>
<select class="form-control custom-select" id="user_sort">
  <option>A-Z</option>
  <option>Z-A</option>
  <option>Most viewed</option>
  <option>Most liked</option>
  <option>Popular</option>
</select>
</div>
    <div class="form-group">
<label for="user_filter">Filter</label>
<select class="form-control custom-select" id="user_filter">
  <option>All Pharmacies</option>
  <option>Near me</option>
  <option>Liked by me</option>
</select>
</div>

    <div class="form-group">
<label class="custom-control custom-checkbox">
<input type="checkbox" class="custom-control-input">
<span class="custom-control-indicator"></span>
<span class="custom-control-description">Dilevery</span>
</label>
</div>

</form>
</div>
</div>




          </div>

          <div class="col-md-9">

              <div class="row">
                  <div class="col-md-4">
                      <div class="product-block">
                        <div class="left-block">
                          <a class="product_img_link" href="singleproduct.html" target="_blank" title="Affiliates banner 300x250">
                            <img class="img-responsive" src="assets/images/categories/nivea.png" border="0" alt="Affiliates banner 300x250" /></a>
                          <a href="singleproduct.html" target="_blank" class="quick-view btn-tooltip"><i class="fa fa-eye"></i></a>
                          <span class="label-new label">New</span>
                        </div>
                        <div class="right-block">
                          <div class="product-meta">
                            <h5 class="name">
                              <a href="http://www.leotheme.com/prestashop/themes.html?wiz_id=17261" class="product-name" target="_blank">Printed Dress</a>
                            </h5>
                            <div class="comments_note product-rating clearfix">
                              <div class="star_content">
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                              </div>
                            </div>
                            <div class="content_price">
                              <span class="price product-price"> 60.99$
                              </span>
                              <span class="old-price product-price">90$</span>
                              <span class="price-percent-reduction">5%</span>
                            </div>
                            <div class="functional-buttons clearfix">
                              <a target="_blank" href="singleproduct.html" class="button ajax_add_to_cart_button"><span>Add to cart</span></a>
                              <a target="_blank" href="singleproduct.html" class="btn-tooltip addToWishlist"><i class="fa fa-heart"></i></a>
                              <a target="_blank" href="singleproduct.html" class="add_to_compare compare btn-tooltip"><i class="fa fa-refresh"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product-block">
                        <div class="left-block">
                          <a class="product_img_link" href="singleproduct.html" target="_blank" title="Affiliates banner 300x250">                                      <img class="img-responsive" src="assets/images/categories/nivea.png" border="0" alt="Affiliates banner 300x250" /></a>
                                <a href="singleproduct.html" target="_blank" class="quick-view btn-tooltip"><i class="fa fa-eye"></i></a>                                <span class="label-new label">New</span>
                        </div>
                        <div class="right-block">
                          <div class="product-meta">
                            <h5 class="name">
                              <a target="_blank" href="http://www.leotheme.com/prestashop/themes.html?wiz_id=17261" class="product-name">Printed Dress</a>
                            </h5>
                            <div class="comments_note product-rating clearfix">
                              <div class="star_content">
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                              </div>
                            </div>
                            <div class="content_price">
                              <span class="price product-price"> 60.99$
                              </span>
                              <span class="old-price product-price">90$</span>
                              <span class="price-percent-reduction">5%</span>
                            </div>
                            <div class="functional-buttons clearfix">
                              <a target="_blank" href="singleproduct.html" class="button ajax_add_to_cart_button"><span>Add to cart</span></a>
                              <a target="_blank" href="singleproduct.html" class="btn-tooltip addToWishlist"><i class="fa fa-heart"></i></a>
                              <a target="_blank" href="singleproduct.html" class="add_to_compare compare btn-tooltip"><i class="fa fa-refresh"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product-block">
                        <div class="left-block">
                          <a class="product_img_link" href="singleproduct.html" target="_blank" title="Affiliates banner 300x250">
                               <img class="img-responsive" src="assets/images/categories/nivea.png" border="0" alt="Affiliates banner 300x250" /></a>
                                <a href="singleproduct.html" target="_blank" class="quick-view btn-tooltip"><i class="fa fa-eye"></i></a>                                <span class="label-new label">New</span>
                        </div>
                        <div class="right-block">
                          <div class="product-meta">
                            <h5 class="name">
                              <a target="_blank" href="http://www.leotheme.com/prestashop/themes.html?wiz_id=17261" class="product-name">Printed Dress</a>
                            </h5>
                            <div class="comments_note product-rating clearfix">
                              <div class="star_content">
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                              </div>
                            </div>
                            <div class="content_price">
                              <span class="price product-price"> 60.99$
                              </span>
                              <span class="old-price product-price">90$</span>
                              <span class="price-percent-reduction">5%</span>
                            </div>
                            <div class="functional-buttons clearfix">
                              <a target="_blank" href="singleproduct.html" class="button ajax_add_to_cart_button"><span>Add to cart</span></a>
                              <a target="_blank" href="singleproduct.html" class="btn-tooltip addToWishlist"><i class="fa fa-heart"></i></a>
                              <a target="_blank" href="singleproduct.html" class="add_to_compare compare btn-tooltip"><i class="fa fa-refresh"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <div class="product-block">
                        <div class="left-block">
                          <a class="product_img_link" href="singleproduct.html" target="_blank" title="Affiliates banner 300x250">
                              <img class="img-responsive" src="assets/images/categories/nivea.png" border="0" alt="Affiliates banner 300x250" /></a>
                                <a href="singleproduct.html" target="_blank" class="quick-view btn-tooltip"><i class="fa fa-eye"></i></a>                                <span class="label-new label">New</span>
                        </div>
                        <div class="right-block">
                          <div class="product-meta">
                            <h5 class="name">
                              <a href="http://www.leotheme.com/prestashop/themes.html?wiz_id=17261" class="product-name" target="_blank">Printed Dress</a>
                            </h5>
                            <div class="comments_note product-rating clearfix">
                              <div class="star_content">
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                              </div>
                            </div>
                            <div class="content_price">
                              <span class="price product-price"> 60.99$
                              </span>
                              <span class="old-price product-price">90$</span>
                              <span class="price-percent-reduction">5%</span>
                            </div>
                            <div class="functional-buttons clearfix">
                              <a target="_blank" href="singleproduct.html" class="button ajax_add_to_cart_button"><span>Add to cart</span></a>
                              <a target="_blank" href="singleproduct.html" class="btn-tooltip addToWishlist"><i class="fa fa-heart"></i></a>
                              <a target="_blank" href="singleproduct.html" class="add_to_compare compare btn-tooltip"><i class="fa fa-refresh"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product-block">
                        <div class="left-block">
                          <a class="product_img_link" href="singleproduct.html" target="_blank" title="Affiliates banner 300x250">
                              <img class="img-responsive" src="assets/images/categories/nivea.png" border="0" alt="Affiliates banner 300x250" /></a>
                                <a href="singleproduct.html" target="_blank" class="quick-view btn-tooltip"><i class="fa fa-eye"></i></a>                                <span class="label-new label">New</span>
                        </div>
                        <div class="right-block">
                          <div class="product-meta">
                            <h5 class="name">
                              <a target="_blank" href="http://www.leotheme.com/prestashop/themes.html?wiz_id=17261" class="product-name">Printed Dress</a>
                            </h5>
                            <div class="comments_note product-rating clearfix">
                              <div class="star_content">
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                              </div>
                            </div>
                            <div class="content_price">
                              <span class="price product-price"> 60.99$
                              </span>
                              <span class="old-price product-price">90$</span>
                              <span class="price-percent-reduction">5%</span>
                            </div>
                            <div class="functional-buttons clearfix">
                              <a target="_blank" href="singleproduct.html" class="button ajax_add_to_cart_button"><span>Add to cart</span></a>
                              <a target="_blank" href="singleproduct.html" class="btn-tooltip addToWishlist"><i class="fa fa-heart"></i></a>
                              <a target="_blank" href="singleproduct.html" class="add_to_compare compare btn-tooltip"><i class="fa fa-refresh"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="product-block">
                        <div class="left-block">
                          <a class="product_img_link" href="singleproduct.html" target="_blank" title="Affiliates banner 300x250">
                              <img class="img-responsive" src="assets/images/categories/nivea.png" border="0" alt="Affiliates banner 300x250" /></a>
                                <a href="singleproduct.html" target="_blank" class="quick-view btn-tooltip"><i class="fa fa-eye"></i></a>                                <span class="label-new label">New</span>
                        </div>
                        <div class="right-block">
                          <div class="product-meta">
                            <h5 class="name">
                              <a target="_blank" href="http://www.leotheme.com/prestashop/themes.html?wiz_id=17261" class="product-name">Printed Dress</a>
                            </h5>
                            <div class="comments_note product-rating clearfix">
                              <div class="star_content">
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                                <div class="star"></div>
                              </div>
                            </div>
                            <div class="content_price">
                              <span class="price product-price"> 60.99$
                              </span>
                              <span class="old-price product-price">90$</span>
                              <span class="price-percent-reduction">5%</span>
                            </div>
                            <div class="functional-buttons clearfix">
                              <a target="_blank" href="singleproduct.html" class="button ajax_add_to_cart_button"><span>Add to cart</span></a>
                              <a target="_blank" href="singleproduct.html" class="btn-tooltip addToWishlist"><i class="fa fa-heart"></i></a>
                              <a target="_blank" href="singleproduct.html" class="add_to_compare compare btn-tooltip"><i class="fa fa-refresh"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>

              <div class="row">
                  <div class="col-md-4">
                    <div class="product-block">
                      <div class="left-block">
                        <a class="product_img_link" href="singleproduct.html" target="_blank" title="Affiliates banner 300x250">
                           <img class="img-responsive" src="assets/images/categories/nivea.png" border="0" alt="Affiliates banner 300x250" /></a>
                              <a href="singleproduct.html" target="_blank" class="quick-view btn-tooltip"><i class="fa fa-eye"></i></a>                              <span class="label-new label">New</span>
                      </div>
                      <div class="right-block">
                        <div class="product-meta">
                          <h5 class="name">
                            <a href="http://www.leotheme.com/prestashop/themes.html?wiz_id=17261" class="product-name" target="_blank">Printed Dress</a>
                          </h5>
                          <div class="comments_note product-rating clearfix">
                            <div class="star_content">
                              <div class="star"></div>
                              <div class="star"></div>
                              <div class="star"></div>
                              <div class="star"></div>
                              <div class="star"></div>
                            </div>
                          </div>
                          <div class="content_price">
                            <span class="price product-price"> 60.99$
                            </span>
                            <span class="old-price product-price">90$</span>
                            <span class="price-percent-reduction">5%</span>
                          </div>
                          <div class="functional-buttons clearfix">
                            <a target="_blank" href="singleproduct.html" class="button ajax_add_to_cart_button"><span>Add to cart</span></a>
                            <a target="_blank" href="singleproduct.html" class="btn-tooltip addToWishlist"><i class="fa fa-heart"></i></a>
                            <a target="_blank" href="singleproduct.html" class="add_to_compare compare btn-tooltip"><i class="fa fa-refresh"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="product-block">
                      <div class="left-block">
                        <a class="product_img_link" href="singleproduct.html" target="_blank" title="Affiliates banner 300x250">
                           <img class="img-responsive" src="assets/images/categories/nivea.png" border="0" alt="Affiliates banner 300x250" /></a>
                              <a href="singleproduct.html" target="_blank" class="quick-view btn-tooltip"><i class="fa fa-eye"></i></a>                              <span class="label-new label">New</span>
                      </div>
                      <div class="right-block">
                        <div class="product-meta">
                          <h5 class="name">
                            <a target="_blank" href="http://www.leotheme.com/prestashop/themes.html?wiz_id=17261" class="product-name">Printed Dress</a>
                          </h5>
                          <div class="comments_note product-rating clearfix">
                            <div class="star_content">
                              <div class="star"></div>
                              <div class="star"></div>
                              <div class="star"></div>
                              <div class="star"></div>
                              <div class="star"></div>
                            </div>
                          </div>
                          <div class="content_price">
                            <span class="price product-price"> 60.99$
                            </span>
                            <span class="old-price product-price">90$</span>
                            <span class="price-percent-reduction">5%</span>
                          </div>
                          <div class="functional-buttons clearfix">
                            <a target="_blank" href="singleproduct.html" class="button ajax_add_to_cart_button"><span>Add to cart</span></a>
                            <a target="_blank" href="singleproduct.html" class="btn-tooltip addToWishlist"><i class="fa fa-heart"></i></a>
                            <a target="_blank" href="singleproduct.html" class="add_to_compare compare btn-tooltip"><i class="fa fa-refresh"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="product-block">
                      <div class="left-block">
                        <a class="product_img_link" href="singleproduct.html" target="_blank" title="Affiliates banner 300x250">
                            <img class="img-responsive" src="assets/images/categories/nivea.png" border="0" alt="Affiliates banner 300x250" /></a>
                              <a href="singleproduct.html" target="_blank" class="quick-view btn-tooltip"><i class="fa fa-eye"></i></a>                              <span class="label-new label">New</span>
                      </div>
                      <div class="right-block">
                        <div class="product-meta">
                          <h5 class="name">
                            <a target="_blank" href="http://www.leotheme.com/prestashop/themes.html?wiz_id=17261" class="product-name">Printed Dress</a>
                          </h5>
                          <div class="comments_note product-rating clearfix">
                            <div class="star_content">
                              <div class="star"></div>
                              <div class="star"></div>
                              <div class="star"></div>
                              <div class="star"></div>
                              <div class="star"></div>
                            </div>
                          </div>
                          <div class="content_price">
                            <span class="price product-price"> 60.99$
                            </span>
                            <span class="old-price product-price">90$</span>
                            <span class="price-percent-reduction">5%</span>
                          </div>
                          <div class="functional-buttons clearfix">
                            <a target="_blank" href="singleproduct.html" class="button ajax_add_to_cart_button"><span>Add to cart</span></a>
                            <a target="_blank" href="singleproduct.html" class="btn-tooltip addToWishlist"><i class="fa fa-heart"></i></a>
                            <a target="_blank" href="singleproduct.html" class="add_to_compare compare btn-tooltip"><i class="fa fa-refresh"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>



          </div>

              </div>


    </div>
</section>


<!-- End Category Section -->
