  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-white-8" style="background-image: url('assets/images/banners/pharmacy.jpg');">
      <div class="container pt-60 pb-60">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="title">Pharmacies</h2>
              <ol class="breadcrumb text-center text-black mt-10">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active text-theme-colored">Pharmacies</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="">
      <div class="container">

        <div class="section-content">

          <div class="row">

            <div class="col-md-3">
                <div class="sidebar sidebar-right mt-sm-30">
                  <div class="widget">
                    <h5 class="widget-title">Search box</h5>
                    <div class="search-form">
                      <form>
                        <div class="input-group">
                          <input type="text" placeholder="Click to Search" class="form-control search-input">
                          <span class="input-group-btn">
                          <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>
                          </span>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="widget">
                    <h4 class="widget-title">Categories</h4>
                    <div class="categories pharmacies">
                      <ul class="list list-border angle-double-right">
                        <li><a href="#">Medications<span>(324)</span></a></li>
                        <li><a href="#">Vitamins<span>(191)</span></a></li>
                        <li><a href="#">Beauty<span>(120)</span></a></li>
                        <li><a href="#">Mom &amp; Baby <span>(267)</span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="widget">
                    <h4 class="widget-title">Latest News</h4>
                    <div class="latest-posts">
                      <article class="post media-post clearfix pb-0 mb-10">
                        <a class="post-thumb" href="#"><img src="assets/images/pharmacies/news.png" alt=""></a>
                        <div class="post-right">
                          <h5 class="post-title mt-0"><a href="#">Sustainable Construction</a></h5>
                          <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                        </div>
                      </article>
                      <article class="post media-post clearfix pb-0 mb-10">
                        <a class="post-thumb" href="#"><img src="assets/images/pharmacies/news.png" alt=""></a>
                        <div class="post-right">
                          <h5 class="post-title mt-0"><a href="#">Industrial Coatings</a></h5>
                          <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                        </div>
                      </article>
                      <article class="post media-post clearfix pb-0 mb-10">
                        <a class="post-thumb" href="#"><img src="assets/images/pharmacies/news.png" alt=""></a>
                        <div class="post-right">
                          <h5 class="post-title mt-0"><a href="#">Storefront Installations</a></h5>
                          <p>Lorem ipsum dolor sit amet adipisicing elit...</p>
                        </div>
                      </article>
                    </div>
                  </div>
                  <div class="widget">
                    <!-- <h4 class="widget-title">Photos from Flickr</h4> -->
                    <div id="flickr-feed" class="clearfix">
                      <!-- Flickr Link -->
                      <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08">
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            <div class="col-md-9">
              <div class="products">
                <div class="row multi-row-clearfix">
                  <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                    <div class="product">
                      <div class="product-thumb"> <img alt="" src="assets/images/pharmacies/elezaby.png" class="img-responsive img-fullwidth">
                        <div class="overlay"></div>
                      </div>
                      <div class="product-details text-center">
                        <a href="#"><h5 class="product-title">Elezaby Pharmacy</h5></a>
                        <p>Together for Better Health </p>
                        <p>19600</p>

                        <div class="widget no-border m-0">
                            <ul class="styled-icons icon-dark icon-circled icon-sm">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                          </div>

                      </div>
                    </div>
                  </div>




                  <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                    <div class="product">
                      <div class="product-thumb"> <img alt="" src="assets/images/pharmacies/roshdy.png" class="img-responsive img-fullwidth">
                        <div class="overlay"></div>
                      </div>
                      <div class="product-details text-center">
                        <a href="#"><h5 class="product-title">Roshdy Pharmacy</h5></a>
                        <p>Together for Better Health </p>
                        <p>19666</p>
                        <div class="widget no-border m-0">
                            <ul class="styled-icons icon-dark icon-circled icon-sm">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                    <div class="product">
                      <div class="product-thumb"> <img alt="" src="assets/images/pharmacies/seif.png" class="img-responsive img-fullwidth">
                        <div class="overlay"></div>
                      </div>
                      <div class="product-details text-center">
                        <a href="#"><h5 class="product-title">Seif Pharmacy</h5></a>
                        <p>Together for Better Health </p>
                        <p>19119</p>
                        <div class="widget no-border m-0">
                            <ul class="styled-icons icon-dark icon-circled icon-sm">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                    <div class="product">
                      <div class="product-thumb"> <img alt="" src="assets/images/pharmacies/masr.png" class="img-responsive img-fullwidth">
                        <div class="overlay"></div>
                      </div>
                      <div class="product-details text-center">
                        <a href="#"><h5 class="product-title">Masr Pharmacy</h5></a>
                        <p>Together for Better Health </p>
                        <p>19110</p>
                        <div class="widget no-border m-0">
                            <ul class="styled-icons icon-dark icon-circled icon-sm">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                    <div class="product">
                      <div class="product-thumb"> <img alt="" src="assets/images/pharmacies/elezaby.png" class="img-responsive img-fullwidth">
                        <div class="overlay"></div>
                      </div>
                      <div class="product-details text-center">
                        <a href="#"><h5 class="product-title">Elezaby Pharmacy</h5></a>
                        <p>Together for Better Health </p>
                        <p>19600</p>

                        <div class="widget no-border m-0">
                            <ul class="styled-icons icon-dark icon-circled icon-sm">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                          </div>

                      </div>
                    </div>
                  </div>




                  <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                    <div class="product">
                      <div class="product-thumb"> <img alt="" src="assets/images/pharmacies/roshdy.png" class="img-responsive img-fullwidth">
                        <div class="overlay"></div>
                      </div>
                      <div class="product-details text-center">
                        <a href="#"><h5 class="product-title">Roshdy Pharmacy</h5></a>
                        <p>Together for Better Health </p>
                        <p>19666</p>
                        <div class="widget no-border m-0">
                            <ul class="styled-icons icon-dark icon-circled icon-sm">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                    <div class="product">
                      <div class="product-thumb"> <img alt="" src="assets/images/pharmacies/seif.png" class="img-responsive img-fullwidth">
                        <div class="overlay"></div>
                      </div>
                      <div class="product-details text-center">
                        <a href="#"><h5 class="product-title">Seif Pharmacy</h5></a>
                        <p>Together for Better Health </p>
                        <p>19119</p>
                        <div class="widget no-border m-0">
                            <ul class="styled-icons icon-dark icon-circled icon-sm">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                    <div class="product">
                      <div class="product-thumb"> <img alt="" src="assets/images/pharmacies/masr.png" class="img-responsive img-fullwidth">
                        <div class="overlay"></div>
                      </div>
                      <div class="product-details text-center">
                        <a href="#"><h5 class="product-title">Masr Pharmacy</h5></a>
                        <p>Together for Better Health </p>
                        <p>19110</p>
                        <div class="widget no-border m-0">
                            <ul class="styled-icons icon-dark icon-circled icon-sm">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                  </div>

                <div class="row">
                  <div class="col-md-12">
                    <nav>
                      <ul class="pagination theme-colored numberList">
                        <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a> </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">...</a></li>
                        <li> <a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a> </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    </section>
  </div>
  <!-- end main-content -->
