 <!-- Start main-content -->
 <div class="main-content">
    <!-- Section: inner-header -->


    <!-- Section: Services --> 
    <section id="services" class="bg-silver-light">
      <div class="container pb-50">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-uppercase mt-0 line-height-1">My Orders</h2>
              <div class="title-icon">
                <img class="mb-10" src="images/title-icon.png" alt="">
              </div>
              <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4">
        <div class="wrapper">

          <div class="profile-card">
              <div class="profile-header">
                  <img src="https://i.imgur.com/X2oObC4.png" class="user-profile-header" alt="">
              </div>
              <div class="profile-body">
                    <div class="author-img">
                        <img src="images/profile/person.png" class="user-profile-img" alt="">
                    </div>
                    <div class="name">User Name</div>
                    <div class="intro">
                          <div class="item-1 text">Orders</div>
                          <div class="item-2 text">Change Password</div>
                          <div class="item-3 text">Address Book</div>
                          <div class="item-3 text">Account Settings</div>
                    </div>
                      <ul class="styled-icons icon-theme-colored icon-dark icon-circled icon-sm">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                      </ul>
              </div>
          </div>
        </div>



            </div>

            
            <div class="col-sm-6 col-md-8">
              <div class="row">
                <div id="mainContainer">
                  <div class="aside">
                    <div class="cardview">
                      <div class="logo">
                        <img class="order-image" src="images/products/nivea.png" alt="profile-sample2" />
                      </div>
                    </div>
                  </div>
                  <div id="card-content">
                    <div id="header">
                      <h2>Order Name</h2>
                    </div>
                    <div id="disc">
                      <p>Order Number</p>
                      <p>Order Date</p>
                      <button class="readmore_btn">Browse Category</button>
                      <button class="readmore_btn">Order Status</button>
      
                    </div>
                  </div>
                </div>
              </div>
      
                <div class="row">
                <div id="mainContainer">
                  <div class="aside">
                    <div class="cardview">
                      <div class="logo">
                        <img class="order-image" src="images/products/axe.png" alt="profile-sample2" />
                      </div>
                    </div>
                  </div>
                  <div id="card-content">
                    <div id="header">
                      <h2>Order Name</h2>
                    </div>
                    <div id="disc">
                      <p>Order Number</p>
                      <p>Order Date</p>
                      <button class="readmore_btn">Browse Category</button>
                      <button class="readmore_btn">Order Status</button>
                    </div>
                  </div>
                </div>
              </div>
      
                <div class="row">
                <div id="mainContainer">
                  <div class="aside">
                    <div class="cardview">
                      <div class="logo">
                        <img class="order-image"
                          src="images/products/ListerineMouthwash.png"
                          alt="profile-sample2"
                        />
                      </div>
                    </div>
                  </div>
                  <div id="card-content">
                    <div id="header">
                      <h2>Order Name</h2>
                    </div>
                    <div id="disc">
                      <p>Order Number</p>
                      <p>Order Date</p>
                      <button class="readmore_btn">Browse Category</button>
                      <button class="readmore_btn">Order Status</button>
                    </div>
                  </div>
                </div>
              </div>
      
                <div class="row">
                <div id="mainContainer">
                  <div class="aside">
                    <div class="cardview">
                      <div class="logo">
                        <img class="order-image" src="images/products/nivea.png" alt="profile-sample2" />
                      </div>
                    </div>
                  </div>
                  <div id="card-content">
                    <div id="header">
                      <h2>Order Name</h2>
                    </div>
                    <div id="disc">
                      <p>Order Number</p>
                      <p>Order Date</p>
                      <button class="readmore_btn">Browse Category</button>
                      <button class="readmore_btn">Order Status</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>