 <!-- Start main-content -->
 <div class="main-content">
    <!-- Section: inner-header -->


    <!-- Section: Services --> 
    <section id="services" class="bg-silver-light">
      <div class="container pb-50">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="text-uppercase mt-0 line-height-1">My Orders</h2>
              <div class="title-icon">
                <img class="mb-10" src="images/title-icon.png" alt="">
              </div>
              <p class=""></p>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4">
        <div class="wrapper">

          <div class="profile-card">
              <div class="profile-header">
                  <img src="https://i.imgur.com/X2oObC4.png" class="user-profile-header" alt="">
              </div>
              <div class="profile-body" *ngFor="let user of userInfo">
                    <div class="author-img">
                        <img src="images/profile/person.png" class="user-profile-img" alt="">
                    </div>
                    <div class="name">{{user['userName']}}</div>
                    <div class="intro">
                          <div class="item-1 text">{{user['userPhone']}}</div>
                          <div class="item-2 text">{{user['userlocation']}}</div>
                          <div class="item-3 text">{{user['email']}}</div>
                          <!-- <div class="item-3 text">Account Settings</div> -->
                    </div>
                      <ul class="styled-icons icon-theme-colored icon-dark icon-circled icon-sm">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                      </ul>
              </div>
          </div>
        </div>



            </div>

            
            <div class="col-sm-6 col-md-8">


              <div class="row" *ngFor="let order of userOrders">
                <div id="mainContainer">
                  <div class="aside">
                    <div class="cardview">
                      <div class="logo">
                        <img class="order-image" src="images/products/nivea.png" alt="profile-sample2" />
                      </div>
                    </div>
                  </div>
                  <div id="card-content">
                    <div id="header">
                      <h2>{{order['productName']}}</h2>
                    </div>
                    <div id="disc">
                      <p>{{order['manufacturer']}}</p>
                      <p>{{order['invDate']}}</p>
                      <button class="readmore_btn">Browse Category</button>
                      <button class="readmore_btn">Order Status</button>
      
                    </div>
                  </div>
                </div>
              </div>
      

            </div>
          </div>
        </div>
      </div>
    </section>